.autocomplete-input {
  border: 1px solid #ced4da;
  border-radius: 8px;
  width: 100%;
  padding: 12px 12px 12px 48px;
  box-sizing: border-box;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  flex: 1 1 0%;
  /* background-color: rgb(238, 238, 238); */
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjNjY2IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+"); */
  background-repeat: no-repeat;
  background-position: 12px center;
}

.autocomplete-input:focus,
.autocomplete-input[aria-expanded="true"] {
  border-color: rgba(0, 0, 0, 0.12);
  background-color: rgb(255, 255, 255);
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
}

[data-position="below"] .autocomplete-input[aria-expanded="true"] {
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-radius: 8px 8px 0px 0px;
}

[data-position="above"] .autocomplete-input[aria-expanded="true"] {
  border-top-color: rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 8px 8px;
  z-index: 2;
}

.autocomplete[data-loading="true"]::after {
  content: "";
  border-width: 3px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.48) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.12);
  border-image: initial;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  animation: 1s linear 0s infinite normal none running rotate;
}

.autocomplete-result-list {
  position: absolute;
  margin: 0px;
  width: 100% !important;
  border: 3px solid rgba(0, 0, 0, 0.12);
  padding: 0px;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: rgb(255, 255, 255);
  list-style: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 2px;
  z-index: 1;
}

[data-position="below"] .autocomplete-result-list {
  margin-top: -1px;
  border-top-color: transparent;
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 8px;
}

[data-position="above"] .autocomplete-result-list {
  margin-bottom: -1px;
  border-bottom-color: transparent;
  border-radius: 8px 8px 0px 0px;
  padding-top: 8px;
}

.autocomplete-result {
  cursor: default;
  padding: 12px 12px 12px 4px;
  /* background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjY2NjIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+PGNpcmNsZSBjeD0iMTEiIGN5PSIxMSIgcj0iOCIvPjxwYXRoIGQ9Ik0yMSAyMWwtNC00Ii8+PC9zdmc+"); */
  background-repeat: no-repeat;
  background-position: 12px center;
}

.autocomplete-result:hover,
.autocomplete-result[aria-selected="true"] {
  background-color: rgba(0, 0, 0, 0.06);
}

@keyframes rotate {
  0% {
    transform: translateY(-50%) rotate(0deg);
  }

  100% {
    transform: translateY(-50%) rotate(359deg);
  }
}