html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  flex-flow: column;
}

/* fixed navbar to fix dashboard overlaying on navbar */
nav {
    position: absolute;
    z-index: 999;
}

.legend {
    line-height: 16px;
    width: 180px;
    color: #333333;
    font-family: 'Titillium Web', sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;

}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: rgba(35, 35, 35, 0.78)
}

/* .mapboxgl-ctrl-geocoder { min-width:100%; } */

/** map overlay in percentages (change to better positioning?) **/

/* for search bar  */
.map-overlay-top {
    position: absolute;
    top: 0;
    padding-top: 5em;
    padding-left: 3em;
}

/* for right side panel */
.map-overlay-right {
    position: absolute;
    top: 9%;
    right: 50%;
    width: 23%;
    height: 85%;
    overflow-x: scroll;
    right: 0.5%;
    background: rgba(255, 255, 255, 0.85);
}

/* side panel background */
.bg-opaque-white {
    padding: 10px;
    background: rgba(255, 255, 255, 0.85);
}

/* fix height of right panel */
.box-shadow-info {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

/* map views */
/* damron guides */
#menu {
    display:flex;
    flex-direction: column;
}

/* fix height of confirmed venues box */
.confirmed-venues {
    height: 13.5em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(218, 218, 218, 0.774);
    box-shadow: inset 0em 0em 0.2em 0.1em rgba(218, 218, 218, 0.774);
    overflow-x: scroll;
    overflow-y: scroll;
}

/* confirmed venues on-hover */
.confirmed-venues > div:hover {
    padding: 0.5em;
    background: #DBDBDB;
    box-shadow: 15px 0 0 #DBDBDB, -15px 0 0 #DBDBDB;
    cursor: pointer;
}

#screen-view {
    flex-grow: 1;
    text-align: center;
}

#screen-view:hover {
    background: #DBDBDB;
}

#locality-view {
    flex-grow: 1;
    text-align: center;
}

#locality-view:hover {
    background: #DBDBDB;
}

.gray-background {
    background: #DBDBDB;
}

/** change color scheme here!**/
.btn-custom {
    color: black;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

.btn-custom:hover{
    color: black;
    background-color: gray;
}

.transparent{
    background-color: transparent;
    outline:none;
    border-color: transparent;
}


#year {
    font-size: 20px;
}

#info {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 26em;
    bottom: 0;
    height: 100%;
    color: black;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    /** if information overflows then content is hidden**/
    overflow: auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/* image container */
#imgs-container {
    border: 1px solid black;
}

/* image element in imgs container */
#imgs-container > img {
    width: 100%;
    height: 20em;
    object-fit: cover;
}
/* close button on left dashboard */
#info-close-btn {
    position: absolute;
    width: 10%;
    text-align: center;
    background: #6c757d;
    border-radius: 5%;
    top: 50%;
    bottom: 50%;
    margin-left: 23em;
}

/* info review box  */
.info-review-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    width: 90%;
    height: 30%;
    margin-top: 2em;
    box-shadow: inset 0em 0em 0.2em 0.1em rgba(218, 218, 218, 0.774);
}

/* textbox div */
.textbox-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
    width: 100%;
    height: 75%;
}

/* review box */
.review-box {
    width: 100%;
    min-height: 100px;
    padding: 1em;
    margin-top: 3em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y: scroll;
}

/* textarea of review */
#user-review-input {
    width: 95%;
    height: 95%;
    resize: none;
    border: transparent;
}

/* confirmation div after user publish comment */
.icon-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2.5em;
}

/* vid review font sizes */
#vid-review {
    font-size: 11px;
    color: gray;
    opacity: 0.2;
}

/* review box button div */
.button-review-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.title-font {
    font-family: 'Noto Sans JP', sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* scrollbar invisible */
}

/** to all children that has flex-wrap class **/
/** currently only used in dashboard design! **/
.flex-wrap >* {
    flex: 0 0 45%;
}

.fade {
    transition: ease-out 0.3s;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.hidden {
    visibility: hidden;
}

/** ensure that info object hidden if screen too small  **/
@media only screen and (max-width: 1026px) {
    #info, #menu {
        visibility: hidden !important;
    }
}

/* slider label */
.labels {
    display: flex;
    font-size: 2em;
}

/* single input slider */
.middle {
	position: absolute;
    bottom: 0;
	width: 15%;
    margin: 3em;
}

.single-slider {
    -webkit-appearance: none;
    background: transparent;
    position: absolute;
    z-index:1;
    width: 100%;
}

.single-slider:focus{
    outline: none;
}

.single-slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #3287f5;
    border-radius: 25px;
    border: 0px solid #000101;
}

.single-slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 25px;
    border-radius: 5px;
    background: #0c448d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

.single-slider:focus::-webkit-slider-runnable-track {
    background: rgb(94, 92, 219)
}

/* for damron code filter */
.dropdown-style {
    width: 300%;
    height: 600%;
    background: white;
    overflow-y: scroll;
}

/* for observation */
.observation {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 22%;
    margin-bottom: 3%;
}

.btn-add-obs {
    padding: 1em;
    border: transparent;
    height: auto;
    border-radius: 15%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-add-obs:hover {
    background-color: #3287f5;
    padding-right: 15px;
    border-radius: 3%;
    box-shadow: 0px 15px 20px rgba(57, 80, 182, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.btn-add-obs > span {
    display: none;
}

.btn-add-obs:hover span{
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    padding-left: 1em;
}

/* right panel text */
.light-text-title {
    font-weight: bold;
    font-size: 1em;
    padding: 0em;
    margin-bottom: 0.5em;
}

#confidence-observation {
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}