html,
body,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  display: flex;
  flex-flow: column;
}

/* fixed navbar to fix dashboard overlaying on navbar */
nav {
    position: absolute;
    z-index: 999;
}

.legend {
    line-height: 16px;
    width: 180px;
    color: #333333;
    font-family: 'Titillium Web', sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-family: 'Titillium Web', sans-serif;

}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: rgba(35, 35, 35, 0.78)
}

/* .mapboxgl-ctrl-geocoder { min-width:100%; } */

/** map overlay in percentages (change to better positioning?) **/

/* for search bar  */
.map-overlay-top {
    position: absolute;
    top: 0;
    padding-top: 5em;
    padding-left: 3em;
}

/* for right side panel */
.map-overlay-right {
    width: 20%;
    height: 75%;
    overflow-x: scroll;
    right: 0.5%;
    position: absolute;
    padding-top: 2em;
    padding-right: 0.5em;
}

/* side panel background */
.bg-opaque-white {
    position: relative;
    width: 100%;
    padding: 10px;
    background: rgba(255, 255, 255, 0.85);
}

/* fix height of right panel */
.box-shadow-right-info {
    box-shadow: 0 3px 10px (0 0 0 / 0.2);
    border-radius: 5px;
}

/* map views */
/* damron guides */
#menu {
    display:flex;
    flex-direction: column;
}

/* fix height of confirmed venues box */
.confirmed-venues {
    height: 17em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(218, 218, 218, 0.774);
    box-shadow: inset 0em 0em 0.2em 0.1em rgba(218, 218, 218, 0.774);
    overflow-x: scroll;
    overflow-y: scroll;
}

/* confirmed venues on-hover */
.confirmed-venues > div:hover {
    padding: 0.5em;
    background: #DBDBDB;
    box-shadow: 15px 0 0 #DBDBDB, -15px 0 0 #DBDBDB;
    cursor: pointer;
}

/** change color scheme here!**/
.btn-custom {
    color: black;
    background-color: white;
}
.btn-custom:hover{
    color: black;
    background-color: gray;
}

.transparent{
    background-color: transparent;
    outline:none;
    border-color: transparent;
}

#year {
    font-size: 20px;
}

#info {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 32em;
    bottom: 0;
    height: 100%;
    color: black;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    padding: 4em 3em 3em 3em;
    /** if information overflows then content is hidden**/
    overflow: auto;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* scrollbar invisible */
}

/** to all children that has flex-wrap class **/
/** currently only used in dashboard design! **/
.flex-wrap >* {
    flex: 0 0 45%;
}

.fade {
    transition: ease-out 0.3s;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}

.hidden {
    visibility: hidden;
}

/** ensure that info object hidden if screen too small  **/
@media only screen and (max-width: 1026px) {
    #info, #menu {
        visibility: hidden !important;
    }
}

/* slider label */
.labels {
    display: flex;
    font-size: 2em;
}
/* for slider */
.middle {
	position: absolute;
    bottom: 0;
	width: 15%;
    margin: 3em;
}

.slider {
	position: relative;
	z-index: 1;
	height: 10px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: blue;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 30px;
	height: 30px;
	background-color:blue;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 10px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 10px rgba(98,0,238,.2);
}

/* input[type=range] replaced with class */
.year-slider {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
.year-slider::-webkit-slider-thumb {
	pointer-events: all;
	width: 30px;
	height: 30px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/* for observation */
.observation {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5em;
}

.btn-add-obs {
    padding: 1.5em;
    border: transparent;
    height: auto;
    border-radius: 50%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.btn-add-obs:hover {
    background-color: #3287f5;
    box-shadow: 0px 15px 20px rgba(57, 80, 182, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

.light-text-title {
    font-weight: bold;
    font-size: 20px;
    padding: 0em;
    margin-bottom: 0.5em;
}

#confidence-observation {
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.sliderticks {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
}