html,
body,
main,
#map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    flex-flow: column;
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background: url('../assets/imgs/loading.gif') 50% 50% no-repeat white;
    opacity: 1;
  }


/* fixed navbar to fix dashboard overlaying on navbar */
nav {
    position: absolute;
    z-index: 999;
}

#project-name{
    font-size: larger;
    margin-top: -1.5em;
    margin-left: 2.5em;
}

#log-in-btn {
    margin-top: 3px;
}

/* for search bar  */
.map-overlay-top {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5.75em;
    padding-right: 3.5em;
}




/* side panel background */
.bg-opaque-white {
    padding: 10px;
    background: rgba(255, 255, 255, 0.85);
}

/* fix height of right panel */
.box-shadow-info {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
}

/* damron code filter */
#code-filter {
    right: 0;
    margin-top: 2em;
    margin-right: 27em;
}

/* category default filter */
#locality-filter {
    right: 0;
    margin-top: 2em;
    margin-right: 20em;
}

#instructions-info {
    margin-top: 2em;
    right: 0;
    /* margin-right: 0 em; */
}



/* help text font-size and style */
.help-text {
    font-size: 12px;
    font-style: italic;
}


#applied-filter, .descriptor {
    background:rgba(193, 193, 193, 0.462);
    border:#0000001f solid 1px;
    border-radius: 0.2rem;
    font-size: smaller;
    font-style:normal;
    padding-left: 4px;
    padding-right: 4px;
    margin: 2px;
}
#clear-button > a {
    justify-content: center;
    font-size:small;
    font-style:italic;
    word-wrap: break-word;
}

/* map views */
/* damron guides */
#menu {
    display: flex;
    flex-direction: column;
}

/* fix height of confirmed venues box */
.venue-list, .observation-list {
    /* position:relative; */
    height: 10em;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(218, 218, 218, 0.774);
    box-shadow: inset 0em 0em 0.2em 0.1em rgba(218, 218, 218, 0.774);
    overflow-x: scroll;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}


/* confirmed venues on-hover */
.venue-list>div:hover, .observation-list>div:hover {
    padding: 0.5em;
    background: #DBDBDB;
    box-shadow: 15px 0 0 #DBDBDB, -15px 0 0 #DBDBDB;
    cursor: pointer;
}

#screen-view {
    flex-grow: 1;
    text-align: center;
}

#screen-view:hover {
    background: #DBDBDB;
}

#locality-view {
    flex-grow: 1;
    text-align: center;
}

#locality-view:hover {
    background: #DBDBDB;
}

.gray-background {
    background: #DBDBDB;
}

/** change color scheme here!**/
.btn-custom {
    display: inline-block;
    background: white;
    color: #444;
    /* width: 190px; */
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}

.btn-custom:hover {
    color: black;
    background-color: gray;
    cursor: pointer;
}

.btn-custom .label {
    font-family: serif;
    font-weight: normal;
}

.transparent {
    background-color: transparent;
    outline: none;
    border-color: transparent;
}

/* #year {
    font-size: 20px;
} */

.navi-ctrls {
    margin-right: 1em;
    margin-top: 10em;
}

/* LEFT SIDE PANEL */
#info {
    position: absolute;
    z-index: 1;
    background-color: white;
    width: 27.5em;
    bottom: 0;
    height: 100%;
    color: black;
    /** if information overflows then content is hidden**/
    overflow-y: scroll;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: transform 1s;
}


h2#name, p#venue-indicator {
    position: relative;
    font-size: x-large;
    top: 2.7em;

}

#feature-list {

    position: relative;
    top: 3em;
}
/* image element in imgs container */
#venue-imgs {

    position: relative;
    top: 4em;
    width: 100%;

    height: 20em;

    background: url('../assets/gifs/loading.gif') no-repeat;
    background-position: center;
}
#venue-img-container{
    position: relative;
    /* top: 4em; */
    width: 25em;
    height: 20em

}
#gmap{
    position: relative;
    width: 0em;
    height: 0em;
}
#venue-img-container>img {
    border: 2px solid gray;
    width: 100%;

    height: 20em;
    object-fit: cover;
}


#img-notes {
    font-size:smaller;
    font-style:italic;
    line-height: 1.15em;
    margin-top: .5em;
    /* margin-bottom: .5em; */
}

#ground-truth-btns {
    position: relative;
    top: 7em;
    width: 100%;
    left: -0.5em;
    /* height: 20em; */

}

#type-review-box{
    position: relative;
    top: 6em;
    /* width: 100%; */

}

#reviews-confirmation {
    position:relative;
    top: 6rem;
}

#report-issue{
    position: relative;
    top: 1em;

}

/* open button for left panel */
#info-open-btn {
    position: absolute;
    top: 50%;
    bottom: 50%;
}

#info-open>span {
    display: none;
}

#info-open:hover {
    width: 90%;
}

#info-open:hover span {
    display: flex;
    flex-direction: row;
    font-size: 12px;
}

/* close button on left dashboard */
#info-close-btn {
    position: absolute;
    text-align: center;
    top: 50%;
    bottom: 50%;
    left: 0em;
    transition: transform 1s;
    border: 10x solid black;
}

#info-close>span {
    display: none;
}

#info-close:hover {
    border: 1px solid black;
}

/* attribution panel */
#attribution {
    position: absolute;
    /* display: flex; */
    width:27em;
    bottom: 0em;
    left: 0em;
    text-shadow: 2px 2px 4px gray;
    transition: left 1s;
}


#logos {
    position: relative;
    width:16em;
    bottom: -4em;

}
#acknowledge {
    /* display:flex; */
    position: relative;
    text-align: left;
    font-size:9pt;
    left: 10em;
    bottom: 0.6em;

}

/* year-slider */
#year-slider {
    position: absolute;
    display: flex;
    width:32em;
    top: 4em;
    left: 0em;
    margin-left: 0.5em;
    transition: left 1s;
}

#year-label {
    font-size: xxx-large;
    font-weight: 500;
    font-size: 3.5em;

}

#year-notes {
    display:flexbox;

    position:relative;
    left: 0.2em;
    top: -2.8em;
    line-height: 1.25em;
    font-size: 1em;
    font-weight: 500;
    color: crimson;

}


/* legend */
#legend {
    position: absolute;
    width:31em;
    bottom: 5em;
    left: 0em;
    margin-left: 0.5em;
    transition: left 1s;
}
.accordion-button{
    margin-top: 0em !important;
    margin-bottom: 0em !important;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.accordion-header {
    position: relative;
    /* height:2em; */
}
.accordion-collapse{
    position: relative;
    /* height:2em; */
}

.accordion-body {
    padding: 0.75rem 1rem;
}
.accordion-body > p{
    margin-bottom: 0em;
    font-size: small;
}
.form-switch{
    position: relative;
    top: 0.3em;
    left: -1.5em;

}

.form-check-label {
    position: relative;
    margin-left: 0.5em;
    top: -0.25em;
    font-size: 11px;
}



.colorscheme {

    position: relative;
    display: flex;
    justify-content: center;
    /* height: 2em; */
    width: 30em;

}

.colorscheme > i {

    position: relative;
    display: inline-block;
    border:rgba(193, 193, 193, 0.462) solid 1px;
    opacity: 0.7;
    width: 18%;
    height: 1.2em;
}

.color-1{
    background: #ffffcc;
}

.color-2{
    background: #fed976;
}

.color-3{
    background: #fd8d3c;
}

.color-4{
    background: #e31a1c;
}

.color-5{
    background: #800026;
}

.color-labels {
    position: relative;
    display: flex;
    top: 0.5em;
    left:3em;
    width: 45em;
    font-size: x-small;
}

.color-labels > span {
    width: 7em;
    padding-left: 1.6em;
    margin-right: 1.6em;
}


/* info review box  */
.info-review-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
    width: 90%;
    height: 30%;
    margin-top: 2em;
    box-shadow: inset 0em 0em 0.2em 0.1em rgba(218, 218, 218, 0.774);
}

/* textbox div */
.textbox-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;
    width: 100%;
    height: 75%;
}

/* review box */
.review-box {
    width: 100%;
    min-height: 100px;
    padding: 1em;
    margin-top: 3em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
    word-wrap: break-word;
    overflow-y: scroll;
}

/* textarea of review */
#user-review-input {
    width: 95%;
    height: 95%;
    resize: none;
    border: transparent;
}

/* confirmation div after user publish comment */
.icon-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2.5em;
}

/* vid review font sizes */
#vid-review {
    font-size: 11px;
    color: gray;
    opacity: 0.2;
}

/* review box button div */
.button-review-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
}

.title-font {
    font-family: 'Noto Sans JP', sans-serif;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* scrollbar invisible */
}

/* TRANSITIONS */
.leftCollapse {
    transform: translateX(-27.5em);
}

.info-btn-collapse {
    transform: translateX(-27.5em);
}

.fade {
    transition: ease-out 0.3s;
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}

@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slide-in {
    100% {
        -webkit-transform: translateX(0%);
    }
}

@keyframes slide-out {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@-webkit-keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }

    100% {
        -webkit-transform: translateX(-100%);
    }
}

.hidden {
    visibility: hidden;
}

/** ensure that info object hidden if screen too small  **/
@media only screen and (max-width: 1026px) {

    #info,
    #menu {
        visibility: hidden !important;
    }
}

/* slider label */
.label {
    display: flex;
    font-size: 4em;
    margin-top: -0.4em;

}





/* single input slider */
.middle {
    margin: 3em 1em 1em 1em;
}


#slider-bar {
    top: -4.2em;
    left: 8em;
    position: relative;
    width: 20em;
    -webkit-appearance: none;
    background: transparent;
    margin-left: 1em;
    z-index: 1;

}

#slider-bar:focus {
    outline: none;
}

#slider-bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #3287f5;
    border-radius: 25px;
    border: 0px solid #000101;
}

#slider-bar::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 25px;
    border-radius: 5px;
    background: #0c448d;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3.6px;
}

#slider-bar:focus::-webkit-slider-runnable-track {
    background: rgb(94, 92, 219);
}

/* codelist border outline */
.border-outline {
    border: 1px solid rgb(211, 211, 211);
    border-radius: 3%;
}

.border-outline>label {
    padding-left: 1em;
    font-size: 14px;
    color: gray;
}

/* for observation button */
#add-observation-container {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 100px;
    margin-right: 1%;
}

/* description  */
.description-form {
    font-size: 14px;
    text-align: right;
}

/* add observation */
#add-observation {
    margin-top: 4em;
}

#add-observation-button {
    padding: 1em;
    border: transparent;
    height: auto;
    border-radius: 2%;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

#add-observation-button:hover {
    background-color: #3287f5;
    padding-right: 15px;
    border-radius: 2%;
    box-shadow: 0px 15px 20px rgba(57, 80, 182, 0.4);
    color: #fff;
    transform: translateY(-5px);
}

#add-observation-button>span {
    display: none;
}

#add-observation-button:hover span {
    font-size: 15px;
    display: inline-flex;
    padding-left: 0.5em;
}

/* .form-check {
    display: flex;
    align-items: center;
} */

/* right panel text */
.light-text-title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 0.5em;
}

#confidence-observation {
    width: 100%;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.8;
}


/* confident level */

.sliderticks {
    display: flex;
    justify-content: space-between;
    /* padding-left: 0.8em; */
    /* margin-left: 0.5em;
    margin-right: 0.9em; */
    /* padding-right: 0.8em; */
}

.sliderticks > p {
    display: flex;
    justify-content: space-between;
    font-size:x-small;
    width:4em;
    height: 1em;
    line-height: normal;
    /* background: #D3D3D3; */

}


/* .sliderticks p {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1px;
    background: #D3D3D3;
    height: 10px;
    line-height: 40px;
    margin: 0 0 20px 0;
} */

#layers {
    bottom: 0;
    right: 0;
    margin-bottom: 35px;
    margin-right: 1%;
}

#basemap-selection {
    background-color: white;
    border-radius: 3%;
    margin-left: 3em;
    margin-right: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.basemap-input-container {
    height: 80px;
    width: 80px;
    /* border: 2px solid black; */
}

/* basemap layers section */
.layers-container {
    width: 50px;
    height: 50px;
    /* border-radius: 3%; */
    overflow: hidden;
    text-align: center;
}

/* input img set width and height */
.input-container {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 3%;
}

.layers-input-container {
    width: 50px;
    height: 50px;
    font-size: 13px;
    border-radius: 3%;
}

.layers-container:hover {
    border: 3px solid #085a73;
}

#layers-default {
    position: absolute;
    bottom: 0;
}

#layers-default>img {
    width: 100%;
    height: 1em;
}

/* references */
.box-shadow-default {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}



.modal-backdrop{
    z-index: 1;
}


.passphrase-control {
    display: flex;
    flex-direction: row;
}

.passphrase {
    display: block;
    margin-left: 0.2em;
    margin-right: 0.2em;
  }


.category {
    padding-bottom: 4px;
}



#go-back-btn2 {
    width: 20%;
}


/* code filter dropdown menu */

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.dropdown-item-checked::before {
    position: relative;
    left: -0.3rem;
    content: '✓';
    font-weight: 600;
  }


.type-btn {
    margin-bottom: 1%;
    width: 100%;
    border-color: #ced4da !important;

}


.collapsedTypes{
    border-color: #ced4da !important;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-check .form-check-input {
    line-height: 0.5em;
    margin-left: -1em !important;
    margin-bottom: 0.5em !important;
}

.form-check {
    display: flex;
    align-items: center;
    flex: 1 0 40%;
    margin-top: 0em !important;
}

.type-btn {
    margin-left: -0.2em !important;
    font-size: 14px;
    background-color: transparent;
}

.type-btn:not(.collapsed) {
    color: black !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

.my-3 {
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
    margin-left: 1em;
    margin-right: 1em;
}

#subMap {
    position: relative;
    /* width: 80%; */
    height: 25em;
    top:5em;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 12px;
    line-height: 1.5;
    z-index: 1;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .15);
}
#subMap .mapboxgl-canvas {

    position: relative;
    height: 25em;
    border:#0000001f solid 1px;
}
#subMap a.mapboxgl-ctrl-logo {
    visibility: hidden;
}

#go-btn {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0 !important;
    padding-top: 0;
    font-size: small;
    padding-bottom: 0;
    height: 40%;
    width: 100%;
}

#observe-switch, #venue-switch {
    top: 0.1em;
    left: -0.2em;
    font-size: 15px !important;
}

#evidence-desc {
    position:relative;
    display: inline-flex;
    top: 5em;
    width: 25em;
    margin-left: 1em;
    margin-right: 1em;
}
#evidence-info {
    position:relative;
    display: inline-flex;
    text-align: center;
    top: 5em;
    width: 20em;
    margin-left: 2.5em;
    margin-right: 2em;  
}
.evidence {
    position:relative;
    line-height: 2em;
    height: 2em;
    /* width: 7em； */
    /* margin-left: 3em; */
    margin-right: 7em;
    cursor: pointer;
}
.validatedError {
    color:red;
}

.validatedSuccess {
    color:green; 
}